<div class="budgets-dialog">
  <h2>Add Budget</h2>
  <form class="budgets-dialog__form">
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" type="number" step="0.01" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Frequency</mat-label>
      <mat-select #frequencySelect [formControl]="frequency" required>
        <mat-select-trigger>
          {{frequency.value || ''}}
        </mat-select-trigger>
        <mat-option *ngFor="let option of frequencyOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="duration-container">
      <span>Every </span>
      <mat-form-field>
        <mat-label>Duration</mat-label>
        <div class="duration-input">
          <input matInput formControlName="duration" type="number" step="1" required />
        </div>
      </mat-form-field>
      <span *ngIf="frequency.value === 'Weekly'" class="duration-unit">weeks</span>
      <span *ngIf="frequency.value === 'Yearly'" class="duration-unit">years</span>
      <span *ngIf="frequency.value === 'Monthly'" class="duration-unit">months</span>
    </div>

    <mat-form-field>
      <mat-label>Repeat</mat-label>
      <input matInput formControlName="count" type="number" step="1" />
      <span>times</span>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    
  </form>
</div>

