<div class="budgets-dialog">
  <h2>Add Budget</h2>
  <form class="budgets-dialog__form">
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" type="number" step="0.01" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Frequency</mat-label>
      <mat-select #frequencySelect [formControl]="frequency" required>
        <mat-select-trigger>
          {{frequency.value || ''}}
        </mat-select-trigger>
        <mat-option *ngFor="let option of frequencyOptions" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input matInput formControlName="duration" type="number" step="0.01" required />
    </mat-form-field>
  </form>
</div>

