.budgets__heading-row {
  /* content align */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.budgets-dialog {
  /* content align */
  padding: 20px;
}

.budgets-dialog__form {
  /* self align */
  min-width: 500px;
  /* content align */
  display: flex;
  flex-direction: column;
}


.budgets-dialog__form mat-form-field {
  width: 100%;
}

.budgets-dialog__duration,
.budgets-dialog__count {
  /* content align */
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}