<mat-toolbar color="primary">
  Student Budget Tracker
  <div class="toolbar__buttons">
    <button data-cy="log-out-button" mat-flat-button (click)="goLogOut()">
      Log Out
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <div *ngFor="let entry of routes">
      <button
        [class.sidenav__button--selected]="isCurrentPage(entry[1])"
        mat-button
        routerLink="{{ entry[1] }}"
      >
        {{ entry[0] }}
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="dash-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
