mat-toolbar {
  /* content align */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 64px;
}

.toolbar__buttons {
  /* content align */
  display: flex;
  flex-direction: row;
  gap: 10px;
}

mat-sidenav-container {
  /* self align */
  min-height: 600px;
  height: calc(100vh - 64px);
}

mat-sidenav {
  /* self align */
  width: 200px;
  /* self style */
  /* background: red; */
  /* content align */
  padding: 15px;
}

button {
  /* self align */
  width: 100%;
  /* content align */
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.dash-content {
  /* content align */
  padding: 20px;
}

.sidenav__button--selected {
  /* self style */
  background: lightgray;
}