<mat-toolbar color="primary">
  Student Budget Tracker
  <div class="toolbar__buttons">
    <button mat-flat-button (click)="goLogOut()">Log Out</button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <button mat-button>Home</button>
    <button mat-button>Transactions</button>
    <button mat-button>Goals</button>
    <button mat-button>Calendar</button>
    <button mat-button>Settings</button>
  </mat-sidenav>
  <mat-sidenav-content>
    Welcome to your dashboard {{ yourName }}
  </mat-sidenav-content>
</mat-sidenav-container>
