<mat-toolbar color="primary">
  Student Budget Tracker
  <div class="toolbar__buttons">
    <button mat-flat-button (click)="goLogOut()">Log Out</button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <button mat-button routerLink="/dashboard">Home</button>
    <button mat-button routerLink="/dashboard/transactions">
      Transactions
    </button>
    <button mat-button routerLink="/dashboard/goals">Goals</button>
    <button mat-button routerLink="/dashboard/calendar">Calendar</button>
    <button mat-button routerLink="/dashboard/settings">Settings</button>
  </mat-sidenav>
  <mat-sidenav-content>
    Dashboard works!
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
