<section>
    <h1>Progress</h1>
    <mat-tab-group>
      <mat-tab label="Weekly">
        <h2> Weekly </h2>
        <div class="week-container">
          <div class="week-column">
            <p><strong>This Week</strong></p>
            You Spent: ${{ weeklyTotalSpent }}
            Your Budget: ${{ weeklyTotalBudget }} 
            <p>You saved ${{ subWeekly }} this week!</p>
            <ul>
              <li *ngFor="let category of weeklyCategories">
                <td>{{ category }}</td>
                <!-- <td>{{ categorySavings[category].weekly | currency }}</td> -->
              </li>
            </ul>
            
            <p>Groceries: You saved $50 total for groceries</p>
            <p>Housing: You saved $500 total for housing</p>
          </div>
          <div class="week-column">
            <p><strong>Last Week</strong></p>
            You Spent: ${{ prevWeeklyTotalSpent }}
            Your Budget: ${{ prevWeeklyTotalBudget }} 
            <p>You saved ${{ subPrevWeekly }} this week!</p>
            <ul>
              <li *ngFor="let category of prevWeeklyCategories">
               <td>{{ category }}: You saved ${{categorySpentTotals[category].weekly}} </td>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>      
        <mat-tab label="Monthly">
          <h2> Monthly </h2>
          <div class="month-container">
            <div class="month-column">
              <p><strong>This Month</strong></p>
              ${{ monthlyTotalSpent }}
             
              <p>Groceries: You saved $50 total for groceries</p>
              <p>Housing: You saved $500 total for groceries</p>
            </div>
            <div class="month-column">
              <p><strong>Last Month</strong></p>
              <p>You saved $437 last month!</p>
              <p>Groceries: You saved $37 total for groceries</p>
              <p>Housing: You saved $400 total for groceries</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Yearly">
          <h2> Yearly </h2>
          <div class="year-container">
            <div class="year-column">
              <p><strong>This Year</strong></p>
              <p>You spent ${{ yearlyTotalSpent }} this year!</p>
              <p>Your saved x this year!</p>
              <p>Groceries: You saved $50 total for groceries</p>
              <p>Housing: You saved $500 total for groceries</p>
            </div>
            <div class="year-column">
              <p><strong>Last Year</strong></p>
              <p>You saved $4000 last year!</p>
              <p>Groceries: You saved $37 total for groceries</p>
              <p>Housing: You saved $400 total for groceries</p>
            </div>
          </div>
        </mat-tab>
        <!-- <mat-tab label="Total">
          <h2> Total </h2>
          //<p>You saved: ${{ subWeekly + subMonthly}} total!!!</p> //fix this line!!
          <p>You don't exceed your budget 67% of the time </p>
          <p>Groceries: You saved $50 total for groceries</p>
          <p>Housing: You saved $500 total for groceries</p>
        </mat-tab> -->
      </mat-tab-group>      
</section>