<section>
    <h1>Progress</h1>
    <mat-tab-group>
        <mat-tab label="Weekly">
          <h2> Weekly </h2>
          <p><strong>This Week</strong></p>
          <p>You saved $550 this week!</p>
          <div class="scrollable-content">
            <p>Groceries: You saved $50 total for groceries</p>
            <p>Housing: You saved $500 total for groceries</p>
          </div>
          <p><strong>Last Week</strong></p>
          <p>You saved $437 last week!</p>
          <p>Groceries: You saved $37 total for groceries</p>
          <p>Housing: You saved $400 total for groceries</p>
        </mat-tab>
        <mat-tab label="Monthly">
          <h2> Monthly </h2>
          <p><strong>This Month</strong></p>
          <p>You saved $550 this month!</p>
          <p>Groceries: You saved $50 total for groceries</p>
          <p>Housing: You saved $500 total for groceries</p>
          <p><strong>Last Month</strong></p>
          <p>You saved $437 last month!</p>
          <p>Groceries: You saved $37 total for groceries</p>
          <p>Housing: You saved $400 total for groceries</p>
        </mat-tab>
        <mat-tab label="Yearly">
          <h2> Yearly </h2>
          <p><strong>This Year</strong></p>
          <p>You saved $5000 this year!</p>
          <p>Groceries: You saved $50 total for groceries</p>
          <p>Housing: You saved $500 total for groceries</p>
          <p><strong>Last Year</strong></p>
          <p>You saved $4000 last year!</p>
          <p>Groceries: You saved $37 total for groceries</p>
          <p>Housing: You saved $400 total for groceries</p>
        </mat-tab>
        <mat-tab label="Total">
          <h2> Total </h2>
          <p>You saved: $5000 Total!!!</p>
          <p>You don't exceed your budget 67% of the time </p>
          <p>Groceries: You saved $50 total for groceries</p>
          <p>Housing: You saved $500 total for groceries</p>
        </mat-tab>
      </mat-tab-group>      
</section>