<div
  class="event-card"
  [class.event-card--upcoming]="statusText === 'Upcoming'"
  [class.event-card--overspent]="statusText === 'Overspent'"
  [class.event-card--ontrack]="statusText === 'On Track'"
  (click)="emitEventContent(eventData)"
>
  <div class="event-card__indicator"></div>
  <div class="event-card__main">
    <h4>{{ eventData?.category }}</h4>
    <p class="event-card__status">{{ getStatusText() }}</p>
    <p>
      Due {{ getDueDateString() }}
      <span *ngIf="statusText !== 'Completed'">
        , {{ getDaysLeft() }} day(s) left
      </span>
    </p>
    <p>
      Spending limit:
      {{ eventData && numberFormatter.format(eventData.amountLimit) }}
    </p>
    <p *ngIf="statusText === 'On Track'">
      Left to spend:
      {{
        eventData &&
          numberFormatter.format(eventData.amountLimit - eventData.totalSpent)
      }}
    </p>
    <p *ngIf="statusText === 'Overspent' || statusText === 'Completed'">
      Amount spent:
      {{ eventData && numberFormatter.format(eventData.totalSpent) }}
    </p>
  </div>
</div>
