<mat-toolbar color="primary">Student Budget Tracker</mat-toolbar>
<div class="section sign-up">
  <div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Sign Up </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form action="" class="sign-up__form">
          <mat-form-field class="sign-up__email">
            <mat-label>Email</mat-label>
            <input type="email" matInput />
          </mat-form-field>

          <mat-form-field class="sign-up__password">
            <mat-label>Password</mat-label>
            <input type="password" matInput />
          </mat-form-field>

          <mat-form-field class="sign-up__reenter-pass">
            <mat-label>Re-enter Password</mat-label>
            <input type="password" matInput />
          </mat-form-field>

          <button mat-flat-button type="button" color="primary">Sign Up</button>
        </form>

        <p>Already have an account? Log in!</p>
        <a routerLink="/login">
          <button mat-flat-button type="button" color="primary">Log In</button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
