.sign-up {
  height: 90%;
}

mat-card {
  /* self align */
  width: 400px;
  align-self: center;
}

mat-card-header {
  /* self align */
  margin-bottom: 20px;
}

.sign-up__names {
  /* content align */
  display: flex;
  flex-direction: row;
  gap: 20px;
}

mat-form-field {
  /* self align */
  width: 100%;
}

form {
  /* self align */
  margin-bottom: 20px;
}