/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

a {
  /* self style */
  color: white;
  text-decoration: none;
}

.section {
  /* self align */
  width: 100%;
  /* content align */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.container {
  /* self align */
  width: 100%;
  max-width: 1000px;
  height: min-content;
  /* content align */
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}