<h2 mat-dialog-title>Add Transaction</h2>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="transaction.name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Amount" type="number" [(ngModel)]="transaction.amount">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Category" [(ngModel)]="transaction.category">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="transaction.description">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="transaction">Add</button>
    <button mat-button mat-dialog-close>Cancel</button>
</div>
