.transaction__description-row {
  /* self align */
  height: 0;
}

.transaction__row td {
  /* self style */
  border-bottom-width: 0;
}

.transaction__description {
  /* content align */
  overflow: hidden;
}

.add-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
